azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0",
    "metadata": {
        "title": "SOCRadar Alarms for Microsoft Sentinel",
        "description": "Bidirectional integration: Import SOCRadar alarms to Sentinel, sync closed incidents back to SOCRadar, with optional audit logging.",
        "version": "1.0.0",
        "author": "SOCRadar",
        "lastUpdateTime": "2026-02-02T00:00:00.000Z"
    },
    "parameters": {
        "WorkspaceName": {
            "type": "string",
            "metadata": { "description": "Microsoft Sentinel Log Analytics Workspace Name" }
        },
        "SocradarApiKey": {
            "type": "securestring",
            "metadata": { "description": "SOCRadar Platform API Key" }
        },
        "CompanyId": {
            "type": "string",
            "metadata": { "description": "SOCRadar Company ID" }
        },
        "PollingIntervalMinutes": {
            "type": "int",
            "defaultValue": 5,
            "minValue": 1,
            "maxValue": 60,
            "metadata": { "description": "How often to check for new alarms (1-60 minutes)" }
        },
        "InitialLookbackMinutes": {
            "type": "int",
            "defaultValue": 600,
            "minValue": 10,
            "maxValue": 10080,
            "metadata": { "description": "How far back to look on first run (default: 600 = 10 hours)" }
        },
        "EnableAuditLogging": {
            "type": "bool",
            "defaultValue": true,
            "metadata": { "description": "Log all operations to Log Analytics for auditing" }
        },
        "TableRetentionDays": {
            "type": "int",
            "defaultValue": 30,
            "minValue": 7,
            "maxValue": 730,
            "metadata": { "description": "Audit log retention in days (7-730)" }
        },
        "_triggerStartTime": {
            "type": "string",
            "defaultValue": "[dateTimeAdd(utcNow(), 'PT3M')]",
            "metadata": { "description": "Internal: Logic Apps start 3 min after deploy for role propagation" }
        }
    },
    "variables": {
        "SentinelConnectionName": "azuresentinel-socradar-shared",
        "ImportPlaybookName": "SOCRadar-Alarm-Import",
        "SyncPlaybookName": "SOCRadar-Alarm-Sync",
        "AuditTableName": "SOCRadarAuditLog_CL",
        "AuditDcrName": "SOCRadar-Audit-DCR",
        "AuditStreamName": "Custom-SOCRadarAuditLog_CL",
        "SentinelContributorRoleId": "ab8e14d6-4a74-4a29-9ba8-549422addade",
        "LogAnalyticsReaderRoleId": "73c42c96-874c-492b-b04d-ab87d138a893",
        "MonitoringMetricsPublisherRoleId": "3913510d-42f4-4e42-8a64-420c390055eb"
    },
    "resources": [
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.OperationalInsights/workspaces/tables",
            "apiVersion": "2022-10-01",
            "name": "[concat(parameters('WorkspaceName'), '/', variables('AuditTableName'))]",
            "properties": {
                "schema": {
                    "name": "[variables('AuditTableName')]",
                    "columns": [
                        { "name": "TimeGenerated", "type": "datetime", "description": "Event timestamp" },
                        { "name": "EventType", "type": "string", "description": "Type: AlarmImported, AlarmSynced, Error" },
                        { "name": "AlarmId", "type": "string", "description": "SOCRadar alarm ID" },
                        { "name": "IncidentId", "type": "string", "description": "Sentinel incident ID" },
                        { "name": "AlarmType", "type": "string", "description": "Main alarm type" },
                        { "name": "Status", "type": "string", "description": "Alarm status" },
                        { "name": "Severity", "type": "string", "description": "Alarm severity" },
                        { "name": "Message", "type": "string", "description": "Details or error message" },
                        { "name": "FullAlarmJson", "type": "dynamic", "description": "Complete SOCRadar alarm object" }
                    ]
                },
                "retentionInDays": "[parameters('TableRetentionDays')]",
                "plan": "Analytics"
            }
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.Insights/dataCollectionRules",
            "apiVersion": "2023-03-11",
            "name": "[variables('AuditDcrName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.OperationalInsights/workspaces/tables', parameters('WorkspaceName'), variables('AuditTableName'))]"
            ],
            "kind": "Direct",
            "properties": {
                "description": "DCR for SOCRadar audit log ingestion",
                "streamDeclarations": {
                    "[variables('AuditStreamName')]": {
                        "columns": [
                            { "name": "TimeGenerated", "type": "datetime" },
                            { "name": "EventType", "type": "string" },
                            { "name": "AlarmId", "type": "string" },
                            { "name": "IncidentId", "type": "string" },
                            { "name": "AlarmType", "type": "string" },
                            { "name": "Status", "type": "string" },
                            { "name": "Severity", "type": "string" },
                            { "name": "Message", "type": "string" },
                            { "name": "FullAlarmJson", "type": "dynamic" }
                        ]
                    }
                },
                "destinations": {
                    "logAnalytics": [
                        {
                            "workspaceResourceId": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
                            "name": "workspace"
                        }
                    ]
                },
                "dataFlows": [
                    {
                        "streams": [ "[variables('AuditStreamName')]" ],
                        "destinations": [ "workspace" ],
                        "transformKql": "source",
                        "outputStream": "[variables('AuditStreamName')]"
                    }
                ]
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('SentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('SentinelConnectionName')]",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                },
                "parameterValueType": "Alternative"
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[variables('ImportPlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": { "type": "SystemAssigned" },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": { "defaultValue": {}, "type": "Object" },
                        "SocradarApiKey": { "type": "SecureString" },
                        "EnableAuditLogging": { "type": "Bool", "defaultValue": false },
                        "AuditDcrEndpoint": { "type": "String", "defaultValue": "" },
                        "AuditDcrImmutableId": { "type": "String", "defaultValue": "" },
                        "AuditStreamName": { "type": "String", "defaultValue": "Custom-SOCRadarAuditLog_CL" },
                        "CompanyId": { "type": "String" },
                        "WorkspaceName": { "type": "String" },
                        "PollingIntervalMinutes": { "type": "Int" },
                        "InitialLookbackMinutes": { "type": "Int" }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('PollingIntervalMinutes')]",
                                "startTime": "[parameters('_triggerStartTime')]"
                            }
                        }
                    },
                    "actions": {
                        "Query_Existing_SOCRadar_Incidents": {
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$top=1&$filter=startswith(properties/title, ''[SOCRadar]'')')]",
                                "authentication": { "type": "ManagedServiceIdentity" },
                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                            },
                            "runAfter": {}
                        },
                        "Determine_Lookback": {
                            "type": "Compose",
                            "inputs": "@if(equals(length(coalesce(body('Query_Existing_SOCRadar_Incidents')?['value'], json('[]'))), 0), parameters('InitialLookbackMinutes'), mul(parameters('PollingIntervalMinutes'), 2))",
                            "runAfter": { "Query_Existing_SOCRadar_Incidents": ["Succeeded"] }
                        },
                        "Calculate_Epoch_Start": {
                            "type": "Compose",
                            "inputs": "@div(sub(ticks(addMinutes(utcNow(), mul(-1, outputs('Determine_Lookback')))), 621355968000000000), 10000000)",
                            "runAfter": { "Determine_Lookback": ["Succeeded"] }
                        },
                        "Initialize_Page": {
                            "type": "InitializeVariable",
                            "inputs": { "variables": [{ "name": "page", "type": "integer", "value": 1 }] },
                            "runAfter": { "Calculate_Epoch_Start": ["Succeeded"] }
                        },
                        "Initialize_Total_Pages": {
                            "type": "InitializeVariable",
                            "inputs": { "variables": [{ "name": "total_pages", "type": "integer", "value": 1 }] },
                            "runAfter": { "Initialize_Page": ["Succeeded"] }
                        },
                        "Initialize_All_Alarms": {
                            "type": "InitializeVariable",
                            "inputs": { "variables": [{ "name": "all_alarms", "type": "array", "value": [] }] },
                            "runAfter": { "Initialize_Total_Pages": ["Succeeded"] }
                        },
                        "Pagination_Loop": {
                            "type": "Until",
                            "expression": "@greater(variables('page'), variables('total_pages'))",
                            "limit": { "count": 1000, "timeout": "PT1H" },
                            "actions": {
                                "Get_SOCRadar_Page": {
                                    "type": "Http",
                                    "inputs": {
                                        "method": "GET",
                                        "uri": "https://platform.socradar.com/api/company/@{parameters('CompanyId')}/incidents/v4",
                                        "headers": { "API-Key": "@{parameters('SocradarApiKey')}" },
                                        "queries": { "page": "@{variables('page')}", "limit": "100", "start_date": "@{outputs('Calculate_Epoch_Start')}", "include_total_records": "true" },
                                        "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                    },
                                    "runAfter": {}
                                },
                                "Parse_Page_Response": {
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@body('Get_SOCRadar_Page')",
                                        "schema": { "type": "object", "properties": { "data": { "type": "object", "properties": { "alarms": { "type": "array" }, "total_pages": { "type": "integer" } } } } }
                                    },
                                    "runAfter": { "Get_SOCRadar_Page": ["Succeeded"] }
                                },
                                "Set_Total_Pages": {
                                    "type": "If",
                                    "expression": { "and": [{ "equals": ["@variables('page')", 1] }] },
                                    "actions": { "Update_Total_Pages": { "type": "SetVariable", "inputs": { "name": "total_pages", "value": "@coalesce(body('Parse_Page_Response')?['data']?['total_pages'], 1)" }, "runAfter": {} } },
                                    "else": { "actions": {} },
                                    "runAfter": { "Parse_Page_Response": ["Succeeded"] }
                                },
                                "Append_Alarms": {
                                    "type": "Compose",
                                    "inputs": "@union(variables('all_alarms'), coalesce(body('Parse_Page_Response')?['data']?['alarms'], json('[]')))",
                                    "runAfter": { "Set_Total_Pages": ["Succeeded"] }
                                },
                                "Update_All_Alarms": {
                                    "type": "SetVariable",
                                    "inputs": { "name": "all_alarms", "value": "@outputs('Append_Alarms')" },
                                    "runAfter": { "Append_Alarms": ["Succeeded"] }
                                },
                                "Increment_Page": {
                                    "type": "IncrementVariable",
                                    "inputs": { "name": "page", "value": 1 },
                                    "runAfter": { "Update_All_Alarms": ["Succeeded"] }
                                }
                            },
                            "runAfter": { "Initialize_All_Alarms": ["Succeeded"] }
                        },
                        "Query_All_Existing_IDs": {
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$top=1000&$filter=startswith(properties/title, ''[SOCRadar]'')')]",
                                "authentication": { "type": "ManagedServiceIdentity" },
                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                            },
                            "runAfter": { "Pagination_Loop": ["Succeeded"] }
                        },
                        "Parse_Existing_IDs": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Query_All_Existing_IDs')",
                                "schema": { "type": "object", "properties": { "value": { "type": "array", "items": { "type": "object", "properties": { "properties": { "type": "object", "properties": { "title": { "type": "string" } } } } } } } }
                            },
                            "runAfter": { "Query_All_Existing_IDs": ["Succeeded"] }
                        },
                        "Extract_Existing_IDs": {
                            "type": "Select",
                            "inputs": { "from": "@coalesce(body('Parse_Existing_IDs')?['value'], json('[]'))", "select": "@split(split(coalesce(item()?['properties']?['title'], ''), '#')[1], ' ')[0]" },
                            "runAfter": { "Parse_Existing_IDs": ["Succeeded"] }
                        },
                        "For_Each_Alarm": {
                            "type": "Foreach",
                            "foreach": "@variables('all_alarms')",
                            "actions": {
                                "Check_If_Open_Status": {
                                    "type": "If",
                                    "expression": { "and": [{ "equals": ["@coalesce(items('For_Each_Alarm')?['status'], 'OPEN')", "OPEN"] }] },
                                    "actions": {
                                        "Check_If_Already_Exists": {
                                            "type": "If",
                                            "expression": { "and": [{ "contains": ["@body('Extract_Existing_IDs')", "@string(items('For_Each_Alarm')?['alarm_id'])"] }] },
                                            "actions": {},
                                            "else": {
                                                "actions": {
                                                    "Map_Severity": {
                                                        "type": "Compose",
                                                        "inputs": "@if(or(equals(items('For_Each_Alarm')?['alarm_risk_level'], 'CRITICAL'), equals(items('For_Each_Alarm')?['alarm_risk_level'], 'HIGH')), 'High', if(equals(items('For_Each_Alarm')?['alarm_risk_level'], 'MEDIUM'), 'Medium', 'Low'))",
                                                        "runAfter": {}
                                                    },
                                                    "Build_Tags": {
                                                        "type": "Compose",
                                                        "inputs": "@json(concat('[{\"Tag\": \"SOCRadar\"}', if(not(or(empty(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], '')), equals(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], null))), concat(', {\"Tag\": \"', if(greater(length(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type']), 100), concat(substring(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], 0, 97), '...'), items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type']), '\"}'), ''), if(not(or(empty(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], '')), equals(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], null))), concat(', {\"Tag\": \"', if(greater(length(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type']), 100), concat(substring(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], 0, 97), '...'), items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type']), '\"}'), ''), ']'))",
                                                        "runAfter": { "Map_Severity": ["Succeeded"] }
                                                    },
                                                    "Create_Incident": {
                                                        "type": "ApiConnection",
                                                        "inputs": {
                                                            "host": { "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" } },
                                                            "method": "put",
                                                            "path": "[concat('/Incidents/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/workspaces/', parameters('WorkspaceName'))]",
                                                            "body": {
                                                                "title": "[SOCRadar] #@{items('For_Each_Alarm')?['alarm_id']} - @{if(greater(length(coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], '')), 200), concat(substring(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], 0, 197), '...'), coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_generic_title'], 'N/A'))}",
                                                                "description": "@{concat('SOCRadar Alarm', decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Alarm ID: ', string(items('For_Each_Alarm')?['alarm_id']), decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Main Type: ', coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], 'N/A'), decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Sub Type: ', coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_sub_type'], 'N/A'), decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Severity: ', items('For_Each_Alarm')?['alarm_risk_level'], decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Created: ', items('For_Each_Alarm')?['date'], decodeUriComponent('%0A'), decodeUriComponent('%0A'), 'Details:', decodeUriComponent('%0A'), if(greater(length(coalesce(items('For_Each_Alarm')?['alarm_text'], '')), 1500), concat(substring(items('For_Each_Alarm')?['alarm_text'], 0, 1500), '...'), coalesce(items('For_Each_Alarm')?['alarm_text'], 'No details')), decodeUriComponent('%0A'), decodeUriComponent('%0A'), if(not(empty(items('For_Each_Alarm')?['content'])), concat('Content:', decodeUriComponent('%0A'), replace(replace(replace(replace(if(greater(length(string(items('For_Each_Alarm')?['content'])), 2000), concat(substring(string(items('For_Each_Alarm')?['content']), 0, 2000), '... [truncated]'), string(items('For_Each_Alarm')?['content'])), '\"', ''), '{', ''), '}', ''), ',', ' -*- '), decodeUriComponent('%0A'), decodeUriComponent('%0A')), ''), 'View in SOCRadar: https://platform.socradar.com/company/', items('For_Each_Alarm')?['company_id'], '/alarm/', items('For_Each_Alarm')?['alarm_id'])}",
                                                                "severity": "@{outputs('Map_Severity')}",
                                                                "status": "New",
                                                                "providerName": "SOCRadar",
                                                                "providerIncidentId": "@{items('For_Each_Alarm')?['alarm_id']}",
                                                                "tagsToAdd": { "TagsToAdd": "@outputs('Build_Tags')" }
                                                            }
                                                        },
                                                        "runAfter": { "Build_Tags": ["Succeeded"] }
                                                    },
                                                    "Check_Audit_Enabled": {
                                                        "type": "If",
                                                        "expression": { "and": [{ "equals": ["@parameters('EnableAuditLogging')", true] }] },
                                                        "actions": {
                                                            "Log_Audit_Event": {
                                                                "type": "Http",
                                                                "inputs": {
                                                                    "method": "POST",
                                                                    "uri": "@{concat(parameters('AuditDcrEndpoint'), '/dataCollectionRules/', parameters('AuditDcrImmutableId'), '/streams/', parameters('AuditStreamName'), '?api-version=2023-01-01')}",
                                                                    "headers": { "Content-Type": "application/json" },
                                                                    "authentication": { "type": "ManagedServiceIdentity", "audience": "https://monitor.azure.com" },
                                                                    "body": [{ "TimeGenerated": "@{utcNow()}", "EventType": "AlarmImported", "AlarmId": "@{items('For_Each_Alarm')?['alarm_id']}", "IncidentId": "@{body('Create_Incident')?['properties']?['incidentNumber']}", "AlarmType": "@{coalesce(items('For_Each_Alarm')?['alarm_type_details']?['alarm_main_type'], 'N/A')}", "Status": "@{items('For_Each_Alarm')?['status']}", "Severity": "@{items('For_Each_Alarm')?['alarm_risk_level']}", "Message": "Alarm imported to Sentinel", "FullAlarmJson": "@items('For_Each_Alarm')" }]
                                                                },
                                                                "runAfter": {}
                                                            }
                                                        },
                                                        "else": { "actions": {} },
                                                        "runAfter": { "Create_Incident": ["Succeeded"] }
                                                    }
                                                }
                                            },
                                            "runAfter": {}
                                        }
                                    },
                                    "else": { "actions": {} },
                                    "runAfter": {}
                                }
                            },
                            "runAfter": { "Extract_Existing_IDs": ["Succeeded"] }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "connectionProperties": { "authentication": { "type": "ManagedServiceIdentity" } },
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                            }
                        }
                    },
                    "SocradarApiKey": { "value": "[parameters('SocradarApiKey')]" },
                    "CompanyId": { "value": "[parameters('CompanyId')]" },
                    "WorkspaceName": { "value": "[parameters('WorkspaceName')]" },
                    "PollingIntervalMinutes": { "value": "[parameters('PollingIntervalMinutes')]" },
                    "InitialLookbackMinutes": { "value": "[parameters('InitialLookbackMinutes')]" },
                    "EnableAuditLogging": { "value": "[parameters('EnableAuditLogging')]" },
                    "AuditDcrEndpoint": { "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), '2023-03-11').endpoints.logsIngestion, '')]" },
                    "AuditDcrImmutableId": { "value": "[if(parameters('EnableAuditLogging'), reference(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), '2023-03-11').immutableId, '')]" },
                    "AuditStreamName": { "value": "[variables('AuditStreamName')]" }
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2019-05-01",
            "name": "[variables('SyncPlaybookName')]",
            "location": "[resourceGroup().location]",
            "identity": { "type": "SystemAssigned" },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": { "defaultValue": {}, "type": "Object" },
                        "SocradarApiKey": { "type": "SecureString" },
                        "CompanyId": { "type": "String" },
                        "WorkspaceName": { "type": "String" },
                        "PollingIntervalMinutes": { "type": "Int" }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": { "frequency": "Minute", "interval": "[parameters('PollingIntervalMinutes')]", "startTime": "[parameters('_triggerStartTime')]" }
                        }
                    },
                    "actions": {
                        "Calculate_Lookback_Time": {
                            "type": "Compose",
                            "inputs": "@addMinutes(utcNow(), mul(-2, parameters('PollingIntervalMinutes')))",
                            "runAfter": {}
                        },
                        "Query_Closed_SOCRadar_Incidents": {
                            "type": "Http",
                            "inputs": {
                                "method": "GET",
                                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents?api-version=2023-11-01&$top=1000&$filter=properties/labels/any(label: label/labelName eq ''SOCRadar'') and properties/status eq ''Closed'' and properties/lastModifiedTimeUtc ge @{outputs(''Calculate_Lookback_Time'')}')]",
                                "authentication": { "type": "ManagedServiceIdentity" },
                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                            },
                            "runAfter": { "Calculate_Lookback_Time": ["Succeeded"] }
                        },
                        "Parse_Incidents": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Query_Closed_SOCRadar_Incidents')",
                                "schema": { "type": "object", "properties": { "value": { "type": "array", "items": { "type": "object", "properties": { "name": { "type": "string" }, "properties": { "type": "object", "properties": { "title": { "type": "string" }, "status": { "type": "string" }, "severity": { "type": "string" }, "classification": { "type": "string" }, "labels": { "type": "array" } } } } } } } }
                            },
                            "runAfter": { "Query_Closed_SOCRadar_Incidents": ["Succeeded"] }
                        },
                        "For_Each_Incident": {
                            "type": "Foreach",
                            "foreach": "@body('Parse_Incidents')?['value']",
                            "actions": {
                                "Extract_Alarm_ID": {
                                    "type": "Compose",
                                    "inputs": "@split(split(items('For_Each_Incident')?['properties']?['title'], '#')[1], ' ')[0]",
                                    "runAfter": {}
                                },
                                "Check_Has_Synced_Tag": {
                                    "type": "Compose",
                                    "inputs": "@contains(string(coalesce(items('For_Each_Incident')?['properties']?['labels'], json('[]'))), 'Synced')",
                                    "runAfter": { "Extract_Alarm_ID": ["Succeeded"] }
                                },
                                "Check_If_Closed_And_Not_Synced": {
                                    "type": "If",
                                    "expression": { "and": [{ "equals": ["@items('For_Each_Incident')?['properties']?['status']", "Closed"] }, { "equals": ["@outputs('Check_Has_Synced_Tag')", false] }] },
                                    "actions": {
                                        "Update_SOCRadar_Status": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://platform.socradar.com/api/company/@{parameters('CompanyId')}/alarms/status/change",
                                                "headers": { "API-Key": "@{parameters('SocradarApiKey')}", "Content-Type": "application/json" },
                                                "body": { "alarm_ids": "@createArray(int(outputs('Extract_Alarm_ID')))", "status": "@{if(equals(items('For_Each_Incident')?['properties']?['classification'], 'FalsePositive'), 9, if(equals(items('For_Each_Incident')?['properties']?['classification'], 'BenignPositive'), 12, 2))}", "comments": "Closed in Microsoft Sentinel (Classification: @{coalesce(items('For_Each_Incident')?['properties']?['classification'], 'Unclassified')})" },
                                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                            },
                                            "runAfter": {}
                                        },
                                        "Map_Severity": {
                                            "type": "Compose",
                                            "inputs": "@coalesce(items('For_Each_Incident')?['properties']?['severity'], 'Medium')",
                                            "runAfter": { "Update_SOCRadar_Status": ["Succeeded"] }
                                        },
                                        "Update_SOCRadar_Severity": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "POST",
                                                "uri": "https://platform.socradar.com/api/company/@{parameters('CompanyId')}/alarm/severity",
                                                "headers": { "API-Key": "@{parameters('SocradarApiKey')}", "Content-Type": "application/json" },
                                                "body": { "alarm_ids": "@createArray(int(outputs('Extract_Alarm_ID')))", "severity": "@{outputs('Map_Severity')}" },
                                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                            },
                                            "runAfter": { "Map_Severity": ["Succeeded"] }
                                        },
                                        "Add_Synced_Tag": {
                                            "type": "Http",
                                            "inputs": {
                                                "method": "PUT",
                                                "uri": "[concat('https://management.azure.com/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.OperationalInsights/workspaces/', parameters('WorkspaceName'), '/providers/Microsoft.SecurityInsights/incidents/@{items(''For_Each_Incident'')?[''name'']}?api-version=2023-11-01')]",
                                                "authentication": { "type": "ManagedServiceIdentity" },
                                                "headers": { "Content-Type": "application/json" },
                                                "body": { "properties": { "title": "@{items('For_Each_Incident')?['properties']?['title']}", "status": "@{items('For_Each_Incident')?['properties']?['status']}", "severity": "@{items('For_Each_Incident')?['properties']?['severity']}", "classification": "@{items('For_Each_Incident')?['properties']?['classification']}", "classificationReason": "@{items('For_Each_Incident')?['properties']?['classificationReason']}", "labels": "@union(coalesce(items('For_Each_Incident')?['properties']?['labels'], json('[]')), json('[{\"labelName\": \"Synced\", \"labelType\": \"User\"}]'))" } },
                                                "retryPolicy": { "type": "exponential", "count": 4, "interval": "PT10S", "maximumInterval": "PT1H" }
                                            },
                                            "runAfter": { "Update_SOCRadar_Severity": ["Succeeded"] }
                                        }
                                    },
                                    "else": { "actions": {} },
                                    "runAfter": { "Check_Has_Synced_Tag": ["Succeeded"] }
                                }
                            },
                            "runAfter": { "Parse_Incidents": ["Succeeded"] }
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "connectionProperties": { "authentication": { "type": "ManagedServiceIdentity" } },
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuresentinel')]"
                            }
                        }
                    },
                    "SocradarApiKey": { "value": "[parameters('SocradarApiKey')]" },
                    "CompanyId": { "value": "[parameters('CompanyId')]" },
                    "WorkspaceName": { "value": "[parameters('WorkspaceName')]" },
                    "PollingIntervalMinutes": { "value": "[parameters('PollingIntervalMinutes')]" }
                }
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceGroup().id, variables('ImportPlaybookName'), variables('SentinelContributorRoleId'))]",
            "dependsOn": [ "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]" ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('SentinelContributorRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName')), variables('ImportPlaybookName'), variables('LogAnalyticsReaderRoleId'))]",
            "scope": "[resourceId('Microsoft.OperationalInsights/workspaces', parameters('WorkspaceName'))]",
            "dependsOn": [ "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]" ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('LogAnalyticsReaderRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "condition": "[parameters('EnableAuditLogging')]",
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName')), variables('ImportPlaybookName'), variables('MonitoringMetricsPublisherRoleId'))]",
            "scope": "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]",
            "dependsOn": [
                "[resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName'))]",
                "[resourceId('Microsoft.Insights/dataCollectionRules', variables('AuditDcrName'))]"
            ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('MonitoringMetricsPublisherRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('ImportPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        },
        {
            "type": "Microsoft.Authorization/roleAssignments",
            "apiVersion": "2022-04-01",
            "name": "[guid(resourceGroup().id, variables('SyncPlaybookName'), variables('SentinelContributorRoleId'))]",
            "dependsOn": [ "[resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName'))]" ],
            "properties": {
                "roleDefinitionId": "[subscriptionResourceId('Microsoft.Authorization/roleDefinitions', variables('SentinelContributorRoleId'))]",
                "principalId": "[reference(resourceId('Microsoft.Logic/workflows', variables('SyncPlaybookName')), '2019-05-01', 'Full').identity.principalId]",
                "principalType": "ServicePrincipal"
            }
        }
    ],
    "outputs": {
        "importLogicAppName": { "type": "string", "value": "[variables('ImportPlaybookName')]" },
        "syncLogicAppName": { "type": "string", "value": "[variables('SyncPlaybookName')]" },
        "auditTableName": { "type": "string", "value": "[if(parameters('EnableAuditLogging'), variables('AuditTableName'), 'N/A')]" },
        "pollingInterval": { "type": "string", "value": "[concat(parameters('PollingIntervalMinutes'), ' minutes')]" }
    }
}
